

.svg_wrapper {
    background: #F2F2F2;
    border: 1px solid grey;
    padding: 5px;
}
.label {
    font-size: 0.73em;
    font-weight: bold;
    font-family: "Open Sans";
    color:#CCC;
}
rect {
  x:-15px;
  y:-15px;
}


svg {
           overflow: none;
           padding: 10px;
           float: left;
           width: 350px;
           height: 350px;
       }
text {
            text-anchor: left;
            font-size: 12px;
            font-family: sans-serif,Helvetica,Arial;
            font-weight: bold;
        }
